body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    margin: 25px 25px 25px 25px;
}


#nav {
    overflow: hidden;
    background-color: bisque;
    width: 97%;
    margin: 0 auto;
}

#nav a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    text-align: center;
}

#main_content {
    display: flex;
    background: beige;
    margin: 0 auto;
    width: 97%;
}

h1 {
    text-align: center;
    margin: 10 10 10 10;
}



.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + #main_content {
    padding-top: 60;
}